.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

center {
    padding-left: 300px;
    margin-top: 50px;
    margin-left: -288px;
}
button  {
    width: 200px;
    background:  #2f7dc1;

}
.alert-danger {
    width: 400px;
}

.g{
    color: white;
    margin-left: 13px;
}
.dec,
.decx{
    color: white;
    margin-right: 11px;
}
