.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

center {
    padding-left: 300px;

}
button  {
    width: 200px;
    background: linear-gradient(136deg,#1d5d67,#aeebf5);

}

